<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bibliothèque numérique</title>
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="static/owl.carousel.min.css">
  <link rel="stylesheet" href="static/owl.theme.default.min.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="static/all.min.css">
    <link rel="stylesheet" href="static/fontawesomeall.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" >

  <link href="static/bootstrap.min.css" rel="stylesheet" >

     <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="static/style.css">
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="height: 100px">
      <a class="navbar-brand" href="#">
                <img src="static/images/output-onlinegiftools.gif" alt="Logo" style="height: 250px;margin-top: 60px;width:400px">
            </a>
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="wrapper d-flex " >
        <div class="search_box" >
            <div class="dropdown" style="width:185px;background-color: rgba(249, 249, 249, 0.9);" >
                <div class="default_option">Parcourir</div>
                <ul>
                    <li data-value="Tout">Tout</li>
                    <li data-value="Nom">Nom</li>
                    <li data-value="Titre">Titre</li>
                    <li data-value="Date">Date</li>
                </ul>
            </div>
            <div class="search_field" style="width:600px">
                <input type="text" class="input" placeholder="Recherche" id="search-input" style="height:55px;">
                <i class="fas fa-search" ></i>
                <div class="dropdown-search">
                    <div class="dropdown-content">
                      <!-- Dropdown items will be inserted here -->
                      <a href="#">Item 1</a>
                      <a href="#">Item 2</a>
                      <a href="#">Item 3</a>
                    </div>
                </div>
            </div>

        </div>
        <input type="hidden" id="usernameInput" value="{{ username }}">
        <button id="Button" class="btn btn-primary ml-2" style="height:55px;">Publier</button>
    </div>
    <!-- Profile dropdown moved outside the wrapper -->
    <div class="dropdown-container-profile ml-auto">
        {% if logged_in %}
            <div class="dropdown_profile right">
                <!-- Profile avatar -->
                <div class="avatar">
                    <img src="static/images/vecteezy_default-profile-picture-avatar-user-avatar-icon-person_21548095.jpg" alt="Profile Avatar">
                </div>
                <ul class="profileMenu">
                    <!-- Menu links -->
                    <li>{{ username }}</li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
        {% else %}
            <div class="login-container">
                <!-- Menu links -->
                <button class="btn btn-success ml-2" id="LoginButton" type="button" style="height:55px;">Log in</button>
            </div>
        {% endif %}
    </div>
</div>

</div>
    </nav>
  <div class="form-container" id="form-container">
      <div class="frame">
          <button type="button" class="btn-close close" onclick="closeForm()"></button>
            <div class="container_upload">
                <div class="overlay">
                    <form id="memoir-form">
                        <div class="form-group">
                            <label for="exampleInputnumber">N° ETUDIANT</label>
                            <input type="text" class="form-control" id="exampleInputnumber" value="{{ user_info.student_number }}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputSchool">Etablissement</label>
                            <input type="text" class="form-control" id="exampleInputSchool" value="{{ user_info.school }}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputName">Nom</label>
                            <input type="text" class="form-control" id="exampleInputName" value="{{ user_info.name }}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail">Email</label>
                            <input type="text" class="form-control" id="exampleInputEmail" value="{{ user_info.email }}" readonly>
                        </div>
                    </form>

                    <form id="memoir-files-form">
                        <div class="form-group">
                            <label for="memoir-files">Livre de mémoire</label>
                            <input type="file" id="memoir-files" class="form-control" name="memoir-files" accept=".pdf,.doc,.docx">
                        </div>
                    </form>

                    <form id="correction-attestation-form">
                        <div class="form-group">
                            <label for="correction-attestation">Attestation de correction</label>
                            <input type="file" id="correction-attestation" class="form-control" name="correction-attestation" accept=".pdf,.doc,.docx">
                        </div>
                    </form>

                    <button type="button" class="btn btn-primary upload" style="display:none;" onclick="uploadFiles()" id="publishButton">Publier</button>
                </div>
            </div>
      </div>
  </div>

  <div class="form-popup" id="infoPopup">
    <button type="button" class="btn-close close" onclick="closeInfoPopup()">x</button>
    <div class="center">
      <div class="title">
        <h1>Information</h1>
      </div>
      <form class="upload-form">
        <div class="form-group">
                    <label for="exampleInputTitle">TITRE</label>
                    <input type="text" class="form-control" id="exampleInputTitle" readonly>
                </div>
                <div class="form-group">
                    <label for="exampleInputEcole">Ecole</label>
                    <input type="text" class="form-control" id="exampleInputEcole"  readonly>
                </div>
                <div class="form-group">
                    <label for="exampleInputUniversity">Université</label>
                    <input type="text" class="form-control" id="exampleInputUniversity"   readonly>
                </div>
                <div class="form-group">
                    <label for="exampleInputAuthor">Auteur</label>
                    <input type="text" class="form-control" id="exampleInputAuthor"  readonly>
                </div>
                <div class="form-group">
                    <label for="exampleInputMention">Mention prédite</label>
                    <input type="text" class="form-control" id="exampleInputMention"   readonly>
                </div>
                <div class="form-group">
                    <label for="exampleInputTheme">Theme</label>
                    <input type="text" class="form-control" id="exampleInputTheme"   readonly>
                </div>
                <div class="form-group">
                    <label for="exampleInputDate">Date</label>
                    <input type="text" class="form-control" id="exampleInputDate"  readonly>
                </div>
                <button type="button" class="btn btn-secondary edit" onclick="toggleEdit()">Editer</button>
                <button type="button" class="btn btn-primary validate">Valider</button>
            </form>

    </div>
  </div>
<section class="mention_section">
    <div class="owl-carousel custom-carousel owl-theme">
      <div class="item active" id="electronics" style="background-image: url('static/images/electonic.png')">
        <div class="item-desc">
        </div>
      </div>
      <div class="item active" id="geologie" style="background-image: url('static/images/geol.png')">
        <div class="item-desc">
        </div>
      </div>
        <div class="item active" id="mine" style="background-image: url('static/images/photo_2024-06-16 11.24.55.jpeg')">
        <div class="item-desc">
        </div>
      </div>
      <div class="item" id="btp" style="background-image: url('static/images/photo_2024-06-16 11.24.58.jpeg')">
        <div class="item-desc">
        </div>
      </div>
        <div class="item active" id="petroliere" style="background-image: url('static/images/photo_2024-06-16 11.24.59.jpeg')">
        <div class="item-desc">
        </div>
      </div>

      <div class="item" id="hydraulique" style="background-image: url('static/images/photo_2024-06-16 11.24.50-Photoroom.png') ;">
        <div class="item-desc">
        </div>
      </div>
      <div class="item" id="igat" style="background-image: url('static/images/photo_2024-06-16 11.25.03.jpeg') ;">
        <div class="item-desc">
        </div>
      </div>
      <div class="item" id="tco" style="background-image: url('static/images/photo_2024-06-16 11.24.53.jpeg');">
        <div class="item-desc">
        </div>
      </div>
      <div class="item" id="ge" style="background-image: url('static/images/photo_2024-06-16 11.24.52-Photoroom.png');">
        <div class="item-desc">
        </div>
      </div>
      <div class="item"  id="mto" style="background-image: url('static/images/Screenshot_2024-06-08_at_16.21.49-removebg-preview.png');">
        <div class="item-desc">
        </div>
      </div>
      <div class="item" id="gmi" style="background-image: url('static/images/photo_2024-06-16 11.25.05.jpeg');">
        <div class="item-desc">
        </div>
      </div>
      <div class="item" id="gpci" style="background-image: url('static/images/gpci.jpeg');">
        <div class="item-desc">
        </div>
          </div>
      <div class="item" id="sim" style="background-image: url('static/images/photo_2024-06-16 11.24.56.jpeg');">
        <div class="item-desc">
        </div>
      </div>
        <div class="item" id="urbanisme" style="background-image: url('static/images/travaux-publics.png');">
        <div class="item-desc">
        </div>
      </div>

    <div id="auth-status" data-logged-in="{{ logged_in | tojson }}" data-username="{{ username }}"></div>
</div>
</section>
<section class="books">
    <div class="row">
      <div class="col-sm-6 " style="display:flex;">
          <div class="popular-books">
            <div class="main-menu">
                <div class="genre"></div>
                <div class="search-results"></div>
                <div class="search-results-all">
                    <h5>Populaires</h5>
                      {% for book in books %}
                            <div class="card bg-light-subtle {% if logged_in and book.filename in downloaded_files %}border-success{% endif %}">
                                <img src="data:image/png;base64,{{ book.cover_image_base64 }}" class="card-img-top" alt="..." style="width: 140px; min-width: 130px;height: 180px;">
                                <div class="card-body">
                                    <div class="text-section">
                                        <!-- Apply CSS styles to limit the width and enable text wrapping -->
                                        <h5 class="card-title" style="overflow-wrap: break-word; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ book.title }}</h5>
                                        <h6 class="card-title">{{ book.author }}</h6>
                                        <p class="card-text" style="overflow-wrap: break-word; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ book.mention }}</p>
                                        <p class="card-text" style="overflow-wrap: break-word; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ book.theme }}</p>
                                        <p class="card-text">{{ book.date }}</p>
                                    </div>
                                    <div class="cta-section ">
                                        <a href="{{ book.download_link }}" class="btn btn-dark">Download</a>
                                    </div>
                                </div>
                            </div>
                      {% endfor %}
                </div>

            </div>
          </div>
      </div>


        <div class="col-sm-6" style="overflow-x: auto;position: relative;">
            <div class="book-types" style="display:flex">
             <a href="#" class="book-type active">Environnement et Ressources Naturelles</a>
             <a href="#" class="book-type"> Industrie et Transformation des Matériaux</a>
             <a href="#" class="book-type"> Géosciences et Géomatique</a>
             <a href="#" class="book-type"> Bâtiments et Constructions</a>
                <a href="#" class="book-type">Sciences et technologie industrielles</a>
             <a href="#" class="book-type"> Énergie</a>
               <a href="#" class="book-type">Informatique et Télécommunications</a>
            </div>
            <div id="search-results-theme" class="mt-4" style="position: absolute;width: 100%;">
                <!-- Search results will be dynamically inserted here -->
                  {% for book in books_types %}
                    <div class="card bg-light-subtle {% if logged_in and book.filename in downloaded_files %}border-success{% endif %}">
                        <img src="data:image/png;base64,{{ book.cover_image_base64 }}" class="card-img-top" alt="..." style="width: 140px; min-width: 130px;height: 180px;">
                        <div class="card-body">
                            <div class="text-section">
                                <!-- Apply CSS styles to limit the width and enable text wrapping -->
                                <h5 class="card-title" style="overflow-wrap: break-word; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ book.title }}</h5>
                                <h6 class="card-title">{{ book.author }}</h6>
                                <p class="card-text" style="overflow-wrap: break-word; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ book.mention }}</p>
                                <p class="card-text" style="overflow-wrap: break-word; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ book.theme }}</p>
                                <p class="card-text">{{ book.date }}</p>
                            </div>
                            <div class="cta-section ">
                                <a href="{{ book.download_link }}" class="btn btn-dark">Download</a>
                            </div>
                        </div>
                    </div>
                  {% endfor %}
            </div>
        </div>
    </div>
</section>
  <!-- HTML structure for the modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">Authentification requise</h5>
      </div>
      <div class="modal-body">
        <p>Vous devez d'abord vous connecter avant de publier. Voulez-vous vous connecter maintenant ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="cancelButton">Annuler</button>
        <button type="button" class="btn btn-primary" id="loginModalRedirect">Se connecter</button>
      </div>
    </div>
  </div>
</div>

    <!-- Bootstrap JS -->
<!-- Include Bootstrap JS -->

    <script src="static/bootstrap.min.js"></script>
<script src="static/popper.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <script src="static/jquery-3.7.1.min.js"></script>
  <script src="static/owl.carousel.min.js"></script>

    <script src="static/script.js"></script>

</body>

</html>
